h2 {
  font-size: 4.0vh;
}

.chevron{
  width: 1.0vh;
  height: 1.0vh;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.waitingSvgContainer{
  width: 100%;
  text-align: center;
}
.waitingSvg{
  width: 412px;
}

th {
cursor: pointer;
background: #F1F2F2;
transition: background 0.3s ease;
}
th:hover { 
  background: #E6E7E8;
}
th:hover img {
  opacity: 1;
  width: 1.0vh;
  height: 1.0vh;
}

table {
  margin-top:20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
